body{
    text-align: center;
    background-color:#EEEEEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#8B9A46;
}
.cloud_img{
    margin-top: 5% ;
    width: 80px;
    height: 50px;
    margin-top:10x;
    }
.cloud_img2{
    width: 100px;
    height: 100px;
    position:absolute;
}
.mountain_img{
    width: 200px;
    height: 200px;
}
h1{
    font-size: 50px;
    width: 0 auto 0 auto;
}
.sk1{
    width:200px;
    height:200px;
} 
.sk2{
    width: 200px;
    height: 200px;
}
.self_img{
    width: 100px;
    height: 100px;
    right: 0;
}
.classic{
    color:#73777B;
    animation-direction:alternate;
    animation-duration:1500ms;
    animation-iteration-count:infinite;
    animation-name:blink;
}
@keyframes blink{
    from{
        opacity:1;
    }
    to{
        opacity:0;
    }
}
.cloud{
    position:absolute;
    top:300px;
    color:#73777B;
    animation-direction:alternate;
    animation-duration:4000ms;
    animation-iteration-count:infinite;
    animation-name:bl;
}
@keyframes bl{
    from{
        opacity:0.5;
    }
    to{
        opacity:1;
    } 
}
.btn{
    color:#8758FF;
    text-decoration:dashed;
}
.footer-link{
    color: #8758FF;
    text-decoration: dashed;
}
.cloud1{
    position:absolute;
    top:260px;
    left:700px;
    color:#73777B;
    animation-direction:alternate;
    animation-duration:4000ms;
    animation-iteration-count:infinite;
    animation-name:bl;
}
@keyframes bl{
    from{
        opacity:0.5;
    }
    to{
        opacity:1;
    } 
}
